<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>stylesCSS}}
    <title>Document</title>
</head>
<body>
    <form name="f-translate" id="f1">
        <textarea name="txt_translate" id="txt_translate" rows="5" cols="20" placeholder="Text to translate..."></textarea>
        <select name="langs" id="langs" size="5">
            <option value="" selected>unspecified</option>
            <option value="BG">Bulgarian</option>
            <option value="CS">Czech</option>
            <option value="DA">Danish</option>
            <option value="DE">German</option>
            <option value="EL">Greek</option>
            <option value="EN-GB">English (British)</option>
            <option value="EN-US">English (American)</option>
            <option value="EN">English (unspecified)</option>
            <option value="ES">Spanish</option>
            <option value="ET">Estonian</option>
            <option value="FI">Finnish</option>
            <option value="FR">French</option>
            <option value="HU">Hungarian</option>
            <option value="IT">Italian</option>
            <option value="JA">Japanese</option>
            <option value="LT">Lithuanian</option>
            <option value="LV">Latvian</option>
            <option value="NL">Dutch</option>
            <option value="PL">Polish</option>
            <option value="PT-PT">Portuguese (excluding Brazilian)</option>
            <option value="PT-BR">Portuguese (Brazilian)</option>
            <option value="PT">Portuguese (unspecified)</option>
            <option value="RO">Romanian</option>
            <option value="RU">Russian</option>
            <option value="SK">Slovak</option>
            <option value="SL">Slovenian</option>
            <option value="SV">Swedish</option>
            <option value="ZH">Chinese</option>
        </select>
        <button id="btn-sub">Translate</button>
    </form>
    <div id="data-content"></div>
    {{>scriptsJS}}
</body>
</html>