body {
    text-align: center;
    font-family: verdana;
    font-size: 16px;
}

.fdiv, div.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 12px solid black;
    padding: 12px 12px;
}

form *, div.header {
    font-family: verdana;
    font-size: 16px;
    margin: 10px 10px;
}

@media only screen and (max-width: 730px) {
    h1 {
        font-size: 18px;
    }
    form * {
        font-size: 14px;
    }
  }

@media only screen and (max-width: 450px) {
    h1 {
        font-size: 16px;
    }
    form * {
        font-size: 12px;
    }
  }

