.fdiv {
    position: absolute;
    right: 0;
    transform: translateX(-50%)
}

form, select, textarea, button {
    font-family: verdana;
    font-size: 30px;
    text-align: left;
    text-transform: uppercase;
    display: block;
}