body {
    text-align: center;
    font-family: verdana;
    font-size: 16px;
    margin: 0;
}

div.header {
    padding: 20px;
    text-align: center;
    background: rgba(19, 204, 124, 0.8);
    color: rgba(100, 100, 100, 0.8);
}

div.fdiv, div#data-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 12px;
    margin-top: 20px;
}

div#data-content {
    position: absolute;
    left: 0;
    width: 100%;
}

p.p-content {
    font-weight: bold;
}

form * {
    font-family: verdana;
    font-size: 16px;
    margin: 15px 15px;
}

form > div, select, textarea, label {
    box-shadow: 10px 8px 5px 4px rgba(6, 128, 75,0.4);
    padding: 10px 10px;
}

textarea, select {
    border-radius: 8px;
    transition: 0.3s;
}

textarea:focus, select:focus {
    background-color: rgba(6, 128, 75,0.2);
}

select:hover {
    cursor: pointer;
}

button {
    padding: 15px 25px;
    border: none;
    background: rgba(151, 151, 151, 0.651);
    color: rgb(49, 49, 49);
    transition: 0.3s;
}

button:hover {
    background: rgba(19, 204, 121, 0.8);
    color: white;
    cursor: pointer;
}

button:disabled {
    background: rgb(155, 154, 154);
    color: rgb(94, 93, 93);
    cursor: pointer;
}

@media only screen and (max-width: 730px) {
    h1 {
        font-size: 18px;
    }
    form * {
        font-size: 14px;
    }
  }

@media only screen and (max-width: 450px) {
    h1 {
        font-size: 16px;
    }
    form * {
        font-size: 12px;
    }
  }

