<form name="f-translate" id="f1">
        <p>Type down the text you want to be translated:</p>
        <textarea name="txt_translate" id="txt_translate" rows="5" cols="40" placeholder="Text to translate..."></textarea>
        <br />
        <button id="btn-sub">Translate</button>
        <br />
        <p>Target language</p>
        <select name="langs" id="langs">
            <option value="BG">Bulgarian</option>
            <option value="CS">Czech</option>
            <option value="DA">Danish</option>
            <option value="DE" selected>German</option>
            <option value="EL">Greek</option>
            <option value="EN-GB">English (British)</option>
            <option value="EN-US">English (American)</option>
            <option value="EN">English (unspecified)</option>
            <option value="ES">Spanish</option>
            <option value="ET">Estonian</option>
            <option value="FI">Finnish</option>
            <option value="FR">French</option>
            <option value="HU">Hungarian</option>
            <option value="IT">Italian</option>
            <option value="JA">Japanese</option>
            <option value="LT">Lithuanian</option>
            <option value="LV">Latvian</option>
            <option value="NL">Dutch</option>
            <option value="PL">Polish</option>
            <option value="PT-PT">Portuguese (excluding Brazilian)</option>
            <option value="PT-BR">Portuguese (Brazilian)</option>
            <option value="PT">Portuguese (unspecified)</option>
            <option value="RO">Romanian</option>
            <option value="RU">Russian</option>
            <option value="SK">Slovak</option>
            <option value="SL">Slovenian</option>
            <option value="SV">Swedish</option>
            <option value="ZH">Chinese</option>
        </select>
        <div id="data-content"></div>
    </form>